{% extends "sysadmin/base.html" %}
{% load seahub_tags i18n %}

{% block cur_groups %}tab-cur{% endblock %}

{% block right_panel %}
<h3>{% trans "Search Group"%}</h3>

<form id="search-user-form" method="get" action=".">
  <label>{% trans "Name " %}</label><input type="text" name="group" class="input" value="{{group_search}}" /><br />
  <input type="submit" value="{% trans "Submit" %}" class="submit" />
</form>
<h3>{% trans "Result"%}</h3>
{% if groups %}
{% include "sysadmin/groupadmin_table.html"%}
{% else %}
<p>{% trans "No result" %}</p>
{% endif %}


<div id="activate-msg" class="hide">
    <p>{% trans "Activating..., please wait" %}</p>
</div>

{% endblock %}