{% extends 'email_base.html' %} {% load i18n %} {% block email_con %} {% autoescape off %}
<p style="font-size:14px;color:#434144;font-family:Verdana, Georgia, Serif;">
{% trans "Hi," %}
</p>

<p style="font-size:14px;color:#434144;font-family:Verdana, Georgia, Serif;">
{% blocktrans %}We just share with you a submit link in your space sharing and collaboration.{% endblocktrans%}
</p>
<p style="font-size:14px;color:#434144;font-family:Verdana, Georgia, Serif;">
	{% blocktrans %}We invite you to drop off your files by clicking the link below :{% endblocktrans%}
	<a href="{{ shared_upload_link }}">{% trans "Log In" %}</a>
	
</p>


{% if extra_msg %}

" {{ extra_msg }} "
{% endif %} {% endautoescape %} {% endblock %} 